.comments_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  border-radius: 0 15px 0 0;

  .comment_list {
    overflow: scroll;
    padding: 1rem;
    max-width: 50rem;
    border-radius: 0 15px 0 0;

    .comment_item {
      display: flex;
      flex-direction: column;

      flex-wrap: wrap;
      word-wrap: break-word;
      word-break: break-all;
      overflow: scroll;

      border-radius: 10px;

      font-size: 1.9rem;
      .comment_author {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;

        .comment_author_image {
          width: 3rem;
          height: 3rem;

          span {
            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
        }

        .comment_author_name {
          font-size: 1.8rem;
          color: #f8f8f2;
          font-weight: bold;
        }

        .author_verified_icon {
          font-size: 1.6rem;
          color: #50fa7b;
        }
      }
      .comment_text {
        color: #ececef;

        margin: 0 0 0 2rem;
      }
    }
  }
  .add_comment_section {
    .comment_form {
      display: flex;
      flex-direction: column;

      gap: 4px;
      width: 100%;

      border-radius: 0 0 10px 0;

      .comment_input {
        font-size: 1.2rem;

        border: 1px solid #44475a;
        border-radius: 5px;

        padding: 0.5rem 1rem;
        margin: 0 0.5rem;
        font-size: 1.8rem;
        background-color: #3d3d40;

        &::placeholder {
          color: #b8b8b9;
        }

        &:focus {
          background-color: #000000;
          color: #f8f8f2;

          outline: transparent;
        }
      }
      .comment_submit_button {
        font-size: 1.6rem;
        color: #000000;
        background-color: #50fa7b;
        border: none;
        border-radius: 5px;
        width: fit-content;
        height: 3.5rem;
        align-self: flex-end;
        margin-right: 0.5rem;

        padding: 0.25rem 1rem;
      }
    }
  }
}
