.container {
  width: fit-content;
  display: flex;
  flex-direction: column;

  width: 100%;

  .heading {
    color: #efeff1;
    font-size: 2.4rem;
  }
  .topics {
    font-size: 2.2rem;

    .activeTopicStyle,
    .topicStyle {
      display: flex;
      flex-direction: row;
      color: #efeff1;

      gap: 0.75rem;

      cursor: pointer;

      &:hover {
        color: #50fa7b;
      }
    }

    .activeTopicStyle {
      .topicIcon {
        color: #efeff1;
      }
      .sidebarHeading {
      }
    }
    .topicStyle {
      .topicIcon {
      }
      .sidebarHeading {
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    .heading {
      display: none;
    }
    .topics {
      .topicStyle {
        display: flex;
        justify-content: center;

        span {
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }

  .topicStyle svg,
  .activeTopicStyle svg,
  .container svg {
    font-size: 5rem;
  }

  .sidebar-home svg {
    font-size: 34px;
  }

  .sidebar-wrapper,
  .sidebar-container {
    width: 40%;
  }
  .sidebar-heading,
  .sidebar-sub-heading,
  .suggested-accounts-icon {
    display: none;
  }

  .suggested-accounts-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }
  .suggested-accounts-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
