.container {
  width: 100%;
  height: 100%;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 70rem;
  .tabs {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .tabsAccounts,
    .tabsVideos {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3.2rem;
      font-weight: 600;
      color: #efeff1;

      cursor: pointer;
    }
  }
  .accounts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .accountsItem {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      cursor: pointer;
      margin-top: 2rem;
      .img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 20px;
      }
      .name {
        font-size: 3.2rem;
        font-weight: 600;
        color: #f8f8f2;
        margin-left: 10px;

        .verified {
          color: #50fa7b;
          font-size: 1.8rem;
        }
      }
      .username {
        font-size: 1rem;
        font-weight: 600;
        color: #657786;
        margin-left: 10px;
      }
    }
  }
  .resultMsg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #efeff1;
  }

  .videos {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 2rem;
    margin-top: 4rem;
  }

  .tabsAccountsActive,
  .tabsVideosActive {
    border-bottom: 2px solid #50fa7b;
    color: #50fa7b;
    z-index: 2;
  }
}

@media (max-width: 59em) {
  .container {
    .tabs {
      .tabsAccounts,
      .tabsVideos {
        font-size: 2.8rem;
      }
    }

    .videos {
      grid-template-columns: repeat(2, 1fr);
    }

    .accounts {
      .accountsItem {
        width: 100%;
        margin-top: 0;

        .img {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          margin-left: 20px;
        }
      }
    }
  }
}

@media (max-width: 34em) {
  .container {
    min-width: 50rem;
    .videos {
      grid-template-columns: repeat(1, 1fr);
    }

    .tabs {
      margin-top: 5rem;

      .tabsAccounts,
      .tabsVideos {
        width: 100%;
        height: 50px;
        font-size: 2.8rem;
      }
    }
  }
  .accounts {
    margin-top: 5rem;
  }
}
