.sidebar {
  display: flex;
  flex-direction: column;
  width: fit-content;

  .home {
    cursor: pointer;
    margin-top: 1.5rem;

    .activeLink {
      display: flex;
      flex-direction: row;
      align-items: center;

      svg {
        color: #50fa7b;
        width: auto;
        height: 2.8rem;
      }

      .heading {
        color: #efeff1;
        font-size: 2.8rem;

        text-align: center;
      }
    }
    .normalLink {
      display: flex;
      flex-direction: row;
      align-items: center;
      svg {
        color: #efeff1;
        width: auto;
        height: 2.8rem;
      }

      .heading {
        color: #efeff1;
        font-size: 2.8rem;

        text-align: center;

        &:hover {
          color: #50fa7b;
        }
      }
    }
  }
  br {
    color: #efeff1;
    height: 2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    .home {
      display: flex;
      justify-content: center;

      .heading {
        display: none;
      }

      .activeLink,
      .normalLink {
        svg {
          height: 5rem;
          width: 5rem;
        }
      }

      .normalLink {
        svg {
          color: #efeff1;
        }
      }
      .activeLink {
        svg {
          color: #50fa7b;
        }
      }
    }
  }
}
