.container {
  display: flex;
  flex-direction: column;
  max-width: 190rem;
  height: 100%;

  margin-top: 9rem;
  border-bottom: 2px solid #efeff185;

  &:last-child {
    border-bottom: none;
  }

  margin-bottom: 9rem;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .headerAvatar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: auto;

      span {
        span {
          padding: 0;

          .headerAvatarImg {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }
      }

      .details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        font-size: 2.4rem;
        padding: 0 2rem;
        margin: 0 auto;
        color: #efeff1;
        .headerInfo {
          .headerInfoName {
            .headerInfoVerified {
              width: 1.5rem;
              color: #50fa7b;
            }
          }
        }
        .headerCaption {
        }
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .video {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: auto;

      padding: 2.4rem;
      position: relative;

      .videoVideo {
        max-width: 100rem;
        max-height: 70rem;
        height: auto;
        padding: 1rem;
        border-radius: 1rem;
        border-radius: 25px;
      }
      .videoControls {
        position: absolute;
        bottom: 8rem;
        right: -5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        button {
          background: transparent;
          border: none;
          .videoControlsPause,
          .videoControlsPlay,
          .videoControlsUnmute,
          .videoControlsMute {
            width: 5rem;
            height: 5rem;
            background-color: transparent;
            cursor: pointer;
          }

          .videoControlsPause,
          .videoControlsMute {
            color: #50fa7b;
          }
          .videoControlsPlay,
          .videoControlsUnmute {
            color: #fa5067;
          }
        }
      }
    }
  }
}

.notHome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .caption {
    font-size: 1.8rem;
    margin-top: 1.25rem;
    color: #f8f8f2;
    cursor: pointer;
  }
  .thumbnail {
    cursor: pointer;
    width: 30rem;
    height: auto;
    padding: 1rem;
  }
  .likesContainer {
    display: flex;
    margin-top: -2rem;
    align-items: center;
    gap: 0.5rem;
    .text {
      display: flex;
      color: #efeff1;

      font-size: 1.8rem;

      align-items: center;
      gap: 0.25rem;
      .playIcon {
        font-size: 3.4rem;
      }
    }
  }
}

@media (max-width: 59em) {
  .container {
    margin-top: 3.5rem;
    max-width: fit-content;

    .header {
      .headerAvatar {
        justify-content: flex-start;
        .details {
          flex-direction: column;
          align-items: flex-start;
          padding: 0;
          margin: 0;
          gap: 0;
          .headerInfo {
            .headerInfoName {
              .headerInfoVerified {
                width: 1.5rem;
                color: #50fa7b;
              }
            }
          }
          p {
            margin: 0;
          }
        }
      }
    }

    .body {
      align-items: flex-start;

      .video {
        .videoVideo {
          max-width: 70vw;
        }
        .videoControls {
          bottom: 0;
          right: 0;
          display: flex;
          flex-direction: row;
          gap: 1rem;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
          padding: 1rem;
          button {
            background: transparent;
            border: none;
          }
        }
      }
    }
  }
}

@media (max-width: 34em) {
  .notHome {
    align-items: flex-start;
  }
}
